body  {
    background-color: rgb(32, 31, 39);
    color: white;
}

img {
    width: 50px;

}
nav {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
ul,nav {
    display: flex;
    
}
ul li  {
    list-style: none;
    padding:10px;
    margin-top: 10px;
}

.footer {
   
    padding: 5px;
    background-color: black;
}

nav {
   background-color: black; 
}

ol li {
    margin-top: 20px;
}
.logo-text {
    display:  flex;
    gap: 20px ;
}

p{
    font-weight: 900;
    font-size: 20px;
}